.App {
  text-align: center;
}

button {
  background: linear-gradient(to bottom right, #5d9cec, #967adc);
  color: white;
  border-radius: 12px;
  border: 0px;
  transition: 0.5s;
}

button:hover {
  transition: 0.5s;
  background: #55efc4;
}